/* header.css */

/* Header container */
.header-container {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 0.5rem;
}


a:hover {
  text-decoration: none;
}
.webpage-name {
    text-decoration: none;
 
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 5px;
}

/* Tab container */
.tab-container {
  display: flex;
  margin-right: 300px;
  justify-content: space-between;
  align-items: center;
}

/* Tabs */
.tab {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-left: 50px;
  padding: 10px 30px;
  position: relative;
}

.tab:hover:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

@media (max-width: 768px) {
  .tab {
    font-size: 16px;
    margin-left: 10px;
  }
}

/* Button container */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Buttons */
.login-button {
  background-color: white;
  color: rgb(12, 137, 220);
  padding: 10px 25px;
  border: 2px solid rgb(12, 137, 220);
  border-radius: 5px;
  margin-left: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: rgb(12, 137, 220);
  color: white;
  transform: translateY(-2px);
}

.login-button:active {
  transform: translateY(0);
}

.signup-button {
  background-color: rgb(12, 137, 220);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.signup-button:hover {
  background-color: black;
  color: white;
  transform: translateY(-2px);
}

.signup-button:active {
  transform: translateY(0);
}


@media (max-width: 768px) {
  .button {
    font-size: 16px;
    margin-left: 10px;
    padding: 8px 16px;
  }
}
