.mainTopIno22{
    align-items: center;
    display: flex;
    min-height: 83vh;
    background-image: url('https://i.ibb.co/dfQ5PT4/innovation-5161494-1920.jpg');
    background-size: cover;
    color: #9bd3f8;
    opacity: 0.8;
    background-position: center;
}

.mainTop1 {
    align-items: center;
    display: flex;
    min-height: 83vh;
    background-image: url('https://i.ibb.co/92c4WL3/splashing-splash-aqua-water-67843-1.jpg');
    background-size: cover;
    color: #0667a7;
    opacity: 0.8;
    background-position: center;
}

  .mainTop1 h1 {
      color: rgb(13, 118, 188);
      font-size: 65px;
      margin-bottom: 0;
      padding-left: 300px;
      font-weight: bold;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.619);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .mainTop1__wastewater {
      color: rgb(6, 112, 183);
  }

  .mainTop1__treatment {
      color: white;
  }

.mainTopHead {
    font-size: 60px;
    text-align: center;
}

.mainTopIntro {
    font-size: 20px;
    text-align: center;
}

.mainTopPhara {
    padding-top: 20px;
    text-align: center;
    line-height: 0.3em;
}

 .banner1 h1 {
     color: rgb(12, 137, 220);
     font-size: 65px;
     margin-bottom: 0;
     padding: 0;
     font-weight: bold;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.663);
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .banner1__inno {
     color: rgb(12, 137, 220);
 }

 .banner1__sup {
     color: white;
 }