.background {
	background: url("https://res.cloudinary.com/flocktogether/image/upload/v1683460842/people-carrying-donation-charity-related-icons_53876-43091_uzshm3.avif");
	background-position: center;
	background-size: cover;
}

.title {
	font-size: 95px;
}
.subtitle {
	font-size: 25px;
	padding-top: 10px;
}
.intro-text {
	width: 100%;
	text-align: center;
}

.buttonContainer {
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
}

.landingbutton {
	width: 350px;
	height: 75px;
	margin-left: 10px;
	margin-right: 10px;
}

@media only screen and (min-width: 120px) {
	.buttonContainer {
		padding: 0 200px;
	}
	.title {
		padding: 0 100px;
	}
}

.card3{
    width: 1900px;
}